<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear categoria</title>

    <link rel="stylesheet" href="static/crear_categoria.css">

</head>
<body>

    <main id="caja_padre">

        <div id="caja_contenedora">

            <h1>Crear categoria</h1>

            <form action="">

                <div id="caja_crear_categoria">

                    <label for="">Categoria</label>

                    <input type="text" id="crear_nueva_categoria" name="crear_nueva_categoria" required>

                </div>

                <button type="submit" id="btn_crear_nueva_categoria" name="btn_crear_nueva_categoria">Crear</button>

            </form>

        </div>

    </main>

</body>
</html>