*{
    box-sizing: border-box;
    transition: 0.6s;
    top: 0;
    margin: 0;
    padding: 0;
}

html, body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    padding: 0;
    margin: 0;
    background: rgb(5, 5, 5);
}

#caja_padre {
    position: absolute;
    height: 100vh;
    min-height: 100vh;
    min-width: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    z-index: 1;
}

    #caja_padre #barra_menu {
        position: absolute;
        display: flex;
        flex-direction: column;
        width: 70%;
        height: 100vh;
        left: -100%;
        border-right: 2px solid #cbcbcb;
        z-index: 6;
        background: rgb(5, 5, 5);
    }   

        #caja_padre #barra_menu.open {
            left: 0;
        }

    #caja_padre #barra_logo {
        width: 100%;
        height: 8%;
        display: flex;
        z-index: 7;
    }

        #barra_logo #logo {
            width: 100%;
            height: 100%;
            padding: 0 0 0 15px;
            z-index: 8;
        }

        #barra_menu #cuenta_usuario {
            position: relative;
            width: 95%;
            height: 12%;
            left: 50%;
            transform: translateX(-50%);
            border-bottom: 2px solid #cbcbcb;
            z-index: 7;
        }

            #cuenta_usuario #foto_perfil {
                position: relative;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                margin: 5px 0 5px 0;
                left: 50%;
                transform: translateX(-50%);
                z-index: 8;
            }

            #cuenta_usuario #texto_nombre {
                color: white;
                position: relative;
                width: 100%;
                height: 30%;
                text-align: center;
                font-size: 14px;
                z-index: 8;
            }

        #barra_menu #lista_menu {
            position: relative;
            width: 95%;
            height: 68%;
            list-style-type: none;
            color: #cbcbcb;
            font-size: 14px;
            font-weight: 600;
            flex-direction: column;
            display: flex;
            left: 50%;
            transform: translateX(-50%);
            justify-content: space-between;
            border-bottom: 2px solid #cbcbcb;
            z-index: 7;
        }

            #lista_menu li {
                border-radius: 5px;
                padding-bottom: 8px;
                padding-left: 12px;
            }

            #lista_menu li:hover {
                background: #202020;
            }

            #lista_menu h2 {
                font-size: 2em;
                padding: 10px 0 0 0;
                z-index: 7;
            }

            #lista_menu svg {
                position: relative;
                top: 5px;
                margin-right: 10px;
                z-index: 8;
            }

            #lista_menu #cierre_sesion {
                margin-top: 50px;
                padding-bottom: 10px;
                z-index: 7;
            }

        #barra_menu #marca_proyecto {
            width: 100%;
            height: 12%;
            color: #cbcbcb;
            padding: 10px;
            z-index: 7;
        }

    #caja_padre #observable {
        position: relative;
        display: flex; 
        flex-direction: column;
        height: 100vh;
        width: 100%;
        z-index: 1;
    }

        #observable #encabezado {
            width: 100%;
            height: 6%;
            display: flex;
            justify-content: space-between;
        }

            #encabezado #ic_atras {
                margin-left: 10px;
                position: relative;
                top: 50%;
                transform: translateY(-50%);
            }

            #encabezado h2 {
                position: relative;
                color: white;
                margin-left: 20px;
                top: 25%;
                right: 10px;
            }

            #observable #menu_hamburguesa {
            position: relative;
            width: 30px;
            height: 20px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            cursor: pointer;
            z-index: 3;
            top: 25%;
            right: 10px;
            }

                #menu_hamburguesa span {
                display: block;
                height: 3px;
                background: #cbcbcb;
                border-radius: 2px;
                transition: 0.3s;
                z-index: 3;
            }

            #menu_hamburguesa.active span:nth-child(1) {
            transform: rotate(45deg) translateY(9px);
            }

            #menu_hamburguesa.active span:nth-child(2) {
                opacity: 0;
            }

            #menu_hamburguesa.active span:nth-child(3) {
                transform: rotate(-45deg) translateY(-9px);
            }

        #observable #agregar_producto {
            position: relative;
            left: 50%;
            top: -30%;
            transform: translateX(-50%);
            border: none;
            width: 50%;
            height: 40px;
            border-radius: 8px;
            background-color: rgb(207, 149, 0);
            font-weight: 600;
        }

        #observable #busqueda_producto {
            width: 90%;
            position: relative;
            height: 40px;
            background: #121212;
            top: 100%;
            display: flex;
            border-radius: 8px;
            left: 50%;
            transform: translateX(-50%);
        }

            #busqueda_producto svg {
                margin: 5px 10px 0 10px;
            }

            #busqueda_producto #buscar_producto {
                background: transparent;
                border: none;
                outline: none;
                color: white;
            }

        #observable #titulo_historial {
            color: white;
            position: relative;
            left: 5%;
            top: 10%;
            font-size: 16px;
            font-weight: 600;
        }

        #observable #historial {
            position: relative;
            flex-direction: column;
            display: flex;
            width: 90%;
            left: 50%;
            transform: translateX(-50%);
            background: #121212;
            border-radius: 8px;
            gap: 5px;
            color: #cbcbcb;
            padding: 10px;
            margin: 10px 0 0 0;
            top: 12%;
            z-index: 2;
        }

            #historial #horizontal {
                display: flex;
            }

            #historial #titulos_productos {
                display: flex;
                flex-direction: column;
                font-weight: 600;
                font-size: 15px;
                color: white;
            }

                #titulos_productos p {
                    margin-top: 5px;
                }

            #historial #informacion_producto {
                display: flex;
                position: relative;
                left: 10px;
                color: white;
                flex-direction: column;
                overflow: hidden;
                text-wrap-mode: nowrap;
            }

                #informacion_producto p {
                    margin-top: 6px;
                }

                #horizontal #iconos_pc {
                    display: none;
                }

            #historial #iconos {
                margin-top: 15px;
            }

                #iconos svg {
                    position: relative;
                    left: 77%;
                    transform: translateX(-77%);
                    margin: 0 0 0 20px;
                }

@media screen and (min-width: 650px) {

    #caja_padre #barra_menu {
        width: 40%;
    }   

        #cuenta_usuario #foto_perfil {
            width: 60px;
            height: 60px;
            margin-top: 10px;
        }

        #cuenta_usuario #texto_nombre {
                font-size: 16px;
            }

        #barra_menu #lista_menu {
            font-size: 18px;
        }

        #lista_menu h2 {
                font-size: 2.2em;
            }

        #barra_menu #marca_proyecto {
            font-size: 15px;
        }

        #observable #encabezado {
            height: 8%;
        }

        #observable #menu_hamburguesa {
            right: 15px;
            }

        #observable #agregar_producto {
            width: 40%;
            height: 50px;
        }

            #historial #titulos_productos {
                font-size: 16px;
            }

            #historial #informacion_producto {
                left: 20%;
                font-size: 15px;
            }

                #iconos svg {
                    left: 85%;
                    transform: translateX(-85%);
                    margin: 0 0 0 30px;
                }
}

@media screen and (min-width: 1024px) {

    #caja_padre {
        flex-direction: row;
    }

        #caja_padre #barra_menu {
            position: relative;
            width: 20%;
            left: 0;
        } 

    #barra_logo #logo {
            padding: 0 0 0 0;
        }

        #cuenta_usuario #foto_perfil {
            width: 50px;
            height: 50px;margin-top: 5px;
        }

        #cuenta_usuario #texto_nombre {
                font-size: 14px;
        }

        #barra_menu #lista_menu {
            font-size: 14px;
        }

            #lista_menu h2 {
                font-size: 2em;
            }

        #barra_menu #marca_proyecto {
            font-size: 12px;
        }

    #caja_padre #observable {
        width: 80%;
    }

    #observable #encabezado {
            justify-content: inherit;
    }

        #encabezado h2 {
            right: 0;
            left: 0;
            top: 30%;
        }

    #observable #menu_hamburguesa {
            display: none;
            }

    #encabezado #ic_atras {
        display: none;
    }

    #observable #barra_horizontal {
        margin-top: 50px;
        position: relative;
        width: 95%;
        display: flex;
        left: 20px;
    }

    #observable #agregar_producto {
        left: 0;
        margin-left: 210px;
        top: 0;
        transform: translateX(0);
        width: 30%;
    }

    #observable #busqueda_producto {
        width: 50%;
        height: 50px;
        top: 0;
        left: 0;
        transform: translateX(0);
    }

        #busqueda_producto svg {
            margin: 10px 10px 0 10px;
        }

    #observable #titulo_historial {
        left: 20px;
        top: 0;
        margin-top: 30px;
        width: 30%;
    }

    #observable #historial {
        flex-direction: column;
        width: 96%;
        left: 50%;
        transform: translateX(-50%);
        background: none;
        top: 0;
    }

        #historial #horizontal {
            flex-direction: column;
        }

        #historial #horizontal_2 {
            display: flex;
            background: #121212;
            border-radius: 8px;
            height: 40px;
            align-items: center;
            margin-top: 0;
            margin: 3px 0;
        }

        #historial #titulos_productos {
            display: flex;
            flex-direction: row;
            width: 90%;
            font-size: 14px;
            text-align: center;
            margin-bottom: 20px;
        }

            #titulos_productos p:nth-child(1) {
                width: 15%;
            }

            #titulos_productos p:nth-child(2) {
                width: 30%;
            }

            #titulos_productos p:nth-child(3) {
                width: 45%;
            }

            #titulos_productos p:nth-child(4) {
                width: 10%;
            }

        #titulos_productos p {
            margin-top: 20px;
        }

        #historial #informacion_producto {
            flex-direction: row;
            left: 0;
            width: 90%;
            font-size: 12px;
            text-align: center;
        }

        #informacion_producto p:nth-child(1) {
            width: 15%;
            margin: 0 5px 0 5px;
        }

        #informacion_producto p:nth-child(2) {
            width: 30%;
            margin: 0 5px 0 5px;
        }

        #informacion_producto p:nth-child(3) {
            width: 45%;
            margin: 0 5px 0 5px;
        }

        #informacion_producto p:nth-child(4) {
            width: 10%;
            margin: 0 5px 0 5px;
        }

        #horizontal_2 #pc_iconos {
            display: flex;
            width: 10%;
            justify-content: end;
        }

        #horizontal #iconos_pc {
            display: flex;
        }

            #iconos_pc {
                margin-left: 10px;
                margin-right: 10px;
            }

        #historial #iconos {
            display: none;
        }

}