*{
    box-sizing: border-box;
    transition: 0.6s;
    top: 0;
    margin: 0;
    padding: 0;
}

html, body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 14px;
    padding: 0;
    margin: 0;
    background: rgb(5, 5, 5);
}

#caja_padre {
    position: absolute;
    height: 100vh;
    min-height: 100vh;
    min-width: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

    #caja_padre #caja_contenedora {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 90%;
        height: 80%;
    }

        #caja_contenedora h1 {
            color: white;
            text-align: center;
        }

        #caja_contenedora #texto_crear_categoria {
            color: white;
            margin: 30px 0 20px 0;
        }

        #caja_contenedora #btn_ir_crear_categoria {
            position: relative;
            width: 35%;
            height: 35px;
            border: none;
            border-radius: 8px;
            background: rgb(207, 149 , 0);
            font-weight: 600;
            left: 50%;
            transform: translateX(-50%);
            margin: 0 0 40px 0;
        }

        #caja_contenedora #codigo_barras {
            position: relative;
            left: 50%;
            transform: translateX(-50%);
            background: #121212;
            width: 180px;
            height: 180px;
            border-radius: 8px;
        }

            #codigo_barras #ic_codigo_barras {
                position: relative;
                width: 90%;
                height: 80%;
                left: 50%;
                transform: translateX(-50%);

            }

            #codigo_barras p {
                color: white;
                font-size: 18px;
                font-weight: 600;
                text-align: center;
            }

        #caja_contenedora #crear_producto {
            position: relative;
            display: flex;
            width: 90%;
            gap: 2em;
            left: 50%;
            transform: translateX(-50%);
        }

                #columna div {
                    display: flex;
                    flex-direction: column;
                    margin: 50px 0;
                }

                #columna label {
                    color: white;
                    margin-bottom: 20px;
                    font-weight: 600;
                }

                #columna input {
                    border: none;
                    background: transparent;
                    border-bottom: solid 3px white;
                    width: 100%;
                    color: white;
                }

                #crear_producto #btn_crear_producto {
                    position: absolute;
                    left: 50%;
                    top: 100%;
                    transform: translateX(-50%);
                    border: none;
                    border-radius: 8px;
                    background: rgb(207, 149 , 0);
                    font-weight: 600;
                    width: 80%;
                    height: 50px;
                    font-size: 16px;
                    font-weight: 600;
                }