*{
    box-sizing: border-box;
    transition: 0.7s;
    top: 0;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;

}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 14px;
}

main {
    position: absolute;
    display: flex;
    background: rgb(252, 252, 252);
    width: 100%;
}

        #caja_padre #barra_menu {
            display: flex;
            width: 350px;
            height: 100%;
            background: #43F4B0;
            border-radius: 0 10px 10px 0;
            flex-direction: column;
        }

            #barra_menu #logo {
                width: 100%;
                height: 80px;
                background:  white;
            }

            #barra_menu #cuenta_usuario {
                width: 100%;
                height: 120px;
                background: #1CABFF;
            }

                #cuenta_usuario #foto_perfil {
                    position: relative;
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    background: blue;
                    left: 50%;
                    top: 10%;
                    transform: translate(-50%,-10%);
                }

                #cuenta_usuario #texto_nombre {
                    position: relative;
                    width: 100%; 
                    margin-top: 15px;
                    text-align: center;
                }

                #cuenta_usuario #texto_correo {
                    position: relative;
                    width: 100%;
                    margin-top: 10px;
                    text-align: center;
                }

            #barra_menu #menu {
                position: relative;
                left: 50%;
                transform: translateX(-50%);
                border-radius: 10px;
                margin: 10px 0;
                width: 95%;
                height: 420px;
                background: #1CABFF;
            }

            #barra_menu #marca_proyecto {
                width: 100%;
                height: 20px;
                margin: 10px;
            }

            #barra_menu #btn_cerrar_sesion {
                position: relative;
                width: 80%;
                height: 50px;
                background: #FF4242;
                border: none;
                border-radius: 10px;
                left: 50%;
                transform: translateX(-50%);
                font-weight: 600;
                font-size: 14px;
            }
        
        #caja_encabezado_producto {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
        }

            #caja_padre #barra_encabezado {
                align-items: center;
                width: 100%;
                height: 50px;
                display: flex;  
            }

                #barra_encabezado #saludo_usuario {
                    position: relative;
                    width: 50%;
                    font-size: 18px;
                    margin: 10px;
                }

                #barra_encabezado #configuracion {
                    position: relative;
                    width: 100%;
                    border: none;
                    outline: none;
                    font-size: 28px;
                    background: transparent;
                    left: 88%;
                    transform: translateX(-88%);
                    margin: 10px 0 10px 0;
                }

            #caja_padre #principal_productos {
                width: 100%;
                height: 100vh;
            }

            #principal_productos #texto_categoria {
                position: absolute;
                left: 312px;
                top: 178px;
                color: #000000;
                z-index: 2;
                font-weight: 600;
            }

            #principal_productos #categoria_productos {
                border: none;
                outline: none;
                width: 180px;
                height: 50px;
                margin: 30px 0 0 20px;
                border-radius: 8px;
                background: #1CABFF;
                position: relative;
            }

                #principal_productos #1ra_barra_horizontal {
                    display: flex;
                }

                    #principal_productos #barra_busqueda {
                        border: none;
                        border-bottom: solid 3px #000000;
                        outline: none;
                        width: 40%;
                        height: 40px;
                        margin: 40px 0 0 20px;
                    }

                    #principal_productos #verificar {
                        position: relative;
                        border: none;
                        background: #1CABFF;
                        width: 140px;
                        height: 45px;
                        left: 25%;
                        transform: translateX(-25%);
                        border-radius: 8px;
                        font-weight: 600;
                        font-size: 14px;
                    }

                    #principal_productos #agregar_producto {
                        position: relative;
                        border: none;
                        background: #43F4B0;
                        width: 140px;
                        height: 45px;
                        left: 30%;
                        transform: translateX(-30%);
                        border-radius: 8px;
                        font-weight: 600;
                        font-size: 14px;
                    }

                    #principal_productos h2 {
                        font-weight: 600;
                        margin: 50px 0 0 20px;
                    }

                    #principal_productos #informe_productos {
                        margin: 10px 5px 2px 20px;
                        background: rgb(222, 222, 222);
                        border-radius: 10px;
                        width: 100%;
                        height: 100%;
                    }