*{
    box-sizing: border-box;
    transition: 0.7s;
    top: 0;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 14px;
}

main {
    position: absolute;
    min-height: 100vh;
    background: url(fondo_login_negro.png) center center;
    width: 100%;
    z-index: 1;
}

form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
    z-index: 2;
}

    #caja_contenedora {
        margin-top: 40px;
        position: absolute;
        left: 50%;
        top: 40%;
        transform: translate(-50%,-50%);
        width: 90%;/* 35% pc */
        z-index: 3;
    }

        #caja_contenedora h1 {
            font-size: 2.5em;
            text-align: center;
            color: white;
            z-index: 4;
        }

        #caja_contenedora #caja2{
            display: flex;
            margin: 20px 0;
            z-index: 4;

        }

        #caja_contenedora #caja {
            margin: 30px 0;
            z-index: 4;
        }

        #caja_contenedora input {
            border: none;
            outline: none;
            background: transparent;
            border-bottom: solid 3px white;
            width: 100%;
            font-size: 12px;
            font-weight: 600;
            z-index: 4;
            color: white;
            padding: 2px 0;
        }

        #caja_contenedora select {
            border: none;
            outline: none;
            border-bottom: solid 3px white;
            width: 100%;
            font-size: 12px;
            font-weight: 600;
            z-index: 4;
        }

        #caja_contenedora label {
            font-size: 1em;
            font-weight: 600;
            z-index: 4;
            color: white;
        }

            form #btn_registrar_gerente{
                height: 50px;
                position: absolute;
                width: 80%;
                margin: 40px 0;
                border-radius: 5px;
                background: rgb(207, 149, 0);
                border: transparent;
                font-size: 1.2em;
                font-weight: 600;
                top: 95%;
                left: 50%;
                transform: translateX(-50%);
                z-index: 4;
            }

/* Regla para tablet */
@media screen and (min-width: 550px) {

    #caja_contenedora {
        margin-top: none;
        width: 65%;
        top: 55%;
    }

        #caja_contenedora h1 {
            font-size: 3em;
        }

        #caja_contenedora input {
            font-size: 16px;
        }

        #caja_contenedora select {
            font-size: 16px;
        }

        form #btn_registrar_usuario {
            top: 100%;
        }

}

/* Regla para escritorio */
@media screen and (min-width: 1024px) {

    #caja_contenedora {
        width: 35%;
        top: 40%;
    }

    #caja_contenedora h1 {
        font-size: 2.5em;
    }

    #caja_contenedora #caja {
        margin: 20px 0;
    }

}