*{
    box-sizing: border-box;
    transition: 0.5s;
    top: 0;
    margin: 0;
    padding: 0;
}

html, body {
    padding: 0;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 14xp;
    background: rgb(5, 5, 5);
}

main {
    position: absolute;
    min-height: 100vh;
    width: 100%;
}

    #caja_padre #ic_atras {
        position: absolute;
        margin: 10px;
        display: flex;
    }

    #caja_contenedora {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80%;
        height: 80%;
    }

    #caja_contenedora h1 {
        text-align: center;
        color: white;
    }

    #caja_contenedora #caja_crear_nombre {
        width: 100%;
        height: 100px;
        background: #121212;
        justify-content: center;
        flex-direction: column;
        display: flex;
        padding: 20px 50px;
        border-radius: 5px;
    }

        #caja_crear_nombre label {
            color: white;
            font-weight: 600;
        }

        #caja_crear_nombre #crear_nombre_nevera {
            border: none;
            outline: none;
            background: transparent;
            border-bottom: solid 3px #cbcbcb;
            margin-top: 20px;
            color: white;
            padding-bottom: 3px;
        }

    #caja_contenedora #btn_crear_nombre_nevera {
        border: none;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 8px;
        background: rgb(207, 149, 0);
        width: 80%;
        height: 40px;
        font-size: 16px;
        font-weight: 600;
        margin-top: 100px;
    }

@media screen and (min-width: 650px) {

    #caja_contenedora {
        height: 60%;
        top: 60%;
        width: 50%;
    }

    #caja_contenedora #btn_crear_nombre_nevera {
        height: 50px;
    }

}

@media screen and (min-width: 1024px) {

    #caja_contenedora {
        height: 50%;
        top: 50%;
        width: 30%;
    }

    #caja_contenedora #caja_crear_nombre {
        padding: 30px 50px;
    }

    #caja_contenedora #btn_crear_nombre_nevera {
        margin-top: 70px;
    }

    #caja_contenedora #btn_crear_nombre_nevera {
        width: 60%;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }

}