*{
    box-sizing: border-box;
    transition: 0.7s;
    top: 0;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 14px;
    background: url(fondo_login_negro.png) center center;
}

main {
    position: absolute;
    min-height: 100vh;
    width: 100%;
    z-index: 1;
}

#caja_padre #ic_atras {
    position: absolute;
    margin: 10px;
    display: flex;
}

    #caja_contenedora {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
    }

    #caja_contenedora h1 {
        color: white;
        text-align: center;
        margin-bottom: 20px;
    }

    #caja_contenedora #datos_proveedor {
        display: flex;
        gap: 2em;
        align-items: center;
        justify-content: space-around;
    }

        #columna #caja {
            margin: 40px 0;
        } 

            #caja label {
                font-weight: 600;
                color: white;
            }

            #caja input {
                font-weight: 600;
                margin-top: 20px;
                border: none;
                outline: none;
                width: 100%;
                border-bottom: solid 3px #cbcbcb;
                background: transparent;
                padding-bottom: 3px;
                color: white;
            }

        #datos_proveedor #btn_registrar_proveedor {
            position: absolute;
            left: 50%;
            top: 100%;
            transform: translateX(-50%);
            border: none;
            border-radius: 8px;
            background: rgb(207, 149, 0);
            font-weight: 600;
            width: 80%;
            height: 50px;
            font-size: 15px;
            margin-top: 20px;
        }

@media screen and (min-width: 650px) {

    body {
    font-size: 16px;
    }

        #caja_contenedora {
            top: 60%;
            width: 60%;
        }

}

@media screen and (min-width: 1024px) {

    body {
        font-size: 14px;
    }

        #caja_contenedora {
            top: 50%;
            width: 30%;
        }

            #caja label {
                font-size: 16px;
            }
    
}
