*{
    box-sizing: border-box;
    transition: 0.5s;
    top: 0;
    margin: 0;
    padding: 0;
}

html, body {
    padding: 0;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 14xp;
    background: rgb(5, 5, 5);
}   

main {
    position: absolute;
    min-height: 100vh;
    width: 100%;
}

    #caja_padre #ic_atras {
        position: absolute;
        margin: 10px;
        display: flex;
    }

        #caja_contenedora {
            position: absolute;
            display: flex;
            flex-direction: column;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 80%;
            height: 60%;
        }

        #caja_contenedora h1 {
            color: white;
            text-align: center;
            margin-bottom: 30px;
        }

        #caja_contenedora #caja {
            width: 70%;
            height: 100px;
            position: relative;
            left: 50%;
            margin-top: 10px;
            transform: translateX(-50%);
        }

            #caja #numero_columna {
                background: #121212;
                width: 100%;
                height: 50%;
                font-weight: 600;
                border-radius: 8px;
                color: black;
                border: none;
                font-size: 15px;
            }

                #numero_columna th {
                    color: white;
                    text-align: center;
                }

            #caja #boton_producto {
                background: rgb(207, 149, 0);
                text-align: center;
                font-weight: 600;
            }

@media screen and (min-width: 650px) {

    #caja_contenedora {
        top: 60%;
        width: 45%;
    }

        #caja_contenedora button {
            height: 50px;
        }
}

@media screen and (min-width: 1024px) {

    #caja_contenedora {
        top: 50%;
        width: 25%;
    }

}