*{
    box-sizing: border-box;
    transition: 0.5s;
    top: 0;
    margin: 0;
    padding: 0;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14xp;
}

main {
    position: absolute;
    min-height: 100vh;
    width: 100%;
    z-index: 1;
    background: #F8F9FA;
}

    #caja_contenedora {
        width: 90%;
        display: flex;
        position: absolute;
        left: 50%;
        top: 50%;
        background: #F1F1F1;
        padding: 10px;
        border-radius: 10px;
        border: solid 2px #CBCBCB;
        flex-direction: column;
        transform: translate(-50%, -50%);
    }

    #caja_contenedora h1 {
        text-align: center;
        margin-bottom: 20px;
    }

    #caja_contenedora #linea_categoria {
        display: flex;
        justify-content: space-between;
    }

    #caja_contenedora #codigo_barras {
        border: none;
        width: 80%;
        background: #4DA6FF;
        border-radius: 8px;
        height: 50px;
        font-size: 15px;
        justify-content: center;
        align-items: center;
        display: flex;
        color: white;
        gap: 20px;
        position: relative;
        left: 50%;
        margin: 30px 0 30px 0;
        transform: translateX(-50%);
    }

    #formulario #contenido {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }

        #formulario label {
            font-weight: 600;
            margin: 30px 0 5px 0;
            display: flex;
        }

        #formulario input {
            display: flex;
            border: solid 2px #E2E2E2;
            border-radius: 8px;
            padding: 5px;
            height: 35px;
            font-size: 15px;
            width: 100%;
        }

        #formulario #btn_editar_producto {
            border: none;
            border-radius: 8px;
            background: #4DA6FF;
            font-weight: 15px;
            font-weight: 600;
            position: relative;
            left: 50%;
            transform: translateX(-50%);
            margin-top: 30px;
            width: 80%;
            font-weight: 500;
            color: white;
            font-size: 15px;
            height: 40px;
        }

@media screen and (min-width: 650px) {

    #caja_contenedora {
        width: 50%;
        top: 60%;
        padding: 20px;
    }

    #formulario #btn_editar_producto {
        height: 50px;
    }

}

@media screen and (min-width: 1024px) {

    #caja_contenedora {
        width: 35%;
        top: 50%;
    }
}