*{
    box-sizing: border-box;
    transition: 0.3s;
    top: 0;
    margin: 0;
    padding: 0;
}

html, body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    padding: 0;
    margin: 0;
    background: rgb(5, 5, 5);
}


#caja_padre {
    position: absolute;
    height: 100vh;
    min-height: 100vh;
    min-width: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    z-index: 1;
    flex-shrink: 0;
}

    #caja_padre #barra_menu {
        position: absolute;
        display: flex;
        flex-direction: column;
        width: 70%;
        height: 100vh;
        left: -100%;
        border-right: 2px solid #cbcbcb;
        z-index: 6;
        background: rgb(5, 5, 5);
    }   

        #caja_padre #barra_menu.open {
            left: 0;
        }

    #caja_padre #barra_logo {
        width: 100%;
        height: 8%;
        display: flex;
        z-index: 7;
    }

        #barra_logo #logo {
            width: 100%;
            height: 100%;
            padding: 0 0 0 15px;
            z-index: 8;
        }

        #barra_menu #cuenta_usuario {
            position: relative;
            width: 95%;
            height: 12%;
            left: 50%;
            transform: translateX(-50%);
            border-bottom: 2px solid #cbcbcb;
            z-index: 7;
        }

            #cuenta_usuario #foto_perfil {
                position: relative;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                margin: 5px 0 5px 0;
                left: 50%;
                transform: translateX(-50%);
                z-index: 8;
            }

            #cuenta_usuario #texto_nombre {
                color: white;
                position: relative;
                width: 100%;
                height: 30%;
                text-align: center;
                font-size: 14px;
                z-index: 8;
            }

        #barra_menu #lista_menu {
            position: relative;
            width: 95%;
            height: 68%;
            list-style-type: none;
            color: #cbcbcb;
            font-size: 14px;
            font-weight: 600;
            flex-direction: column;
            display: flex;
            left: 50%;
            transform: translateX(-50%);
            justify-content: space-between;
            border-bottom: 2px solid #cbcbcb;
            z-index: 7;
        }

            #lista_menu a {
                text-decoration: inherit;
                color: #cbcbcb;
                display: block;
            }

            #lista_menu li:hover {
                background: #202020;
                font-size: 16px;
            }

            #lista_menu li {
                border-radius: 5px;
                padding-bottom: 8px;
                padding-left: 12px;
            }

            #lista_menu h2 {
                font-size: 2em;
                padding: 10px 0 0 0;
                z-index: 7;
            }

            #lista_menu svg {
                position: relative;
                top: 5px;
                margin-right: 10px;
                z-index: 8;
            }

            #lista_menu #cierre_sesion {
                margin-top: 50px;
                padding-bottom: 10px;
                z-index: 7;
            }

        #barra_menu #marca_proyecto {
            width: 100%;
            height: 12%;
            color: #cbcbcb;
            padding: 10px;
            z-index: 7;
        }

    #caja_padre #observable {
        position: relative;
        flex-direction: column;
        width: 100%;
        flex: 1;
        overflow-y: auto;
        z-index: 1;
    }

        #encabezado #bienvenido {
            position: relative;
            color: white;
            padding: 20px 0 30px 15px;
            font-size: 0.8em;
            z-index: 2;
        }

        #encabezado #menu_hamburguesa {
            position: relative;
            margin-left: 95%;
            transform: translateX(-95%);
            top: -45px;
            width: 30px;
            height: 20px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            cursor: pointer;
            z-index: 3;
        }

            #menu_hamburguesa span {
                display: block;
                height: 3px;
                background: #cbcbcb;
                border-radius: 2px;
                transition: 0.3s;
                z-index: 3;
            }

        #menu_hamburguesa.active span:nth-child(1) {
            transform: rotate(45deg) translateY(9px);
        }

        #menu_hamburguesa.active span:nth-child(2) {
            opacity: 0;
        }

        #menu_hamburguesa.active span:nth-child(3) {
            transform: rotate(-45deg) translateY(-9px);
        }

        #observable #agregar_producto {
            color: black;
            font-weight: 600;
            position: relative;
            width: 60%;
            height: 45px;
            background: rgb(207, 149, 0);
            border-radius: 8px;
            border: none;
            font-size: 16px;
            left: 50%;
            transform: translateX(-50%);
            top: -25px;
            z-index: 3;
        }

        #observable #recoger_busqueda {
            position: relative;
            width: 90%;
            height: 45px;
            background: #121212;
            border-radius: 8px;
            left: 15px;
            z-index: 3;
        }

        #observable #mensaje_no_encontrado {
            display: none;
            position: relative;
            left: 50%;
            width: 80%;
            top: 10%;
            padding: 30px 10px;
            border-radius: 8px;
            transform: translateX(-50%);
            margin-top: 20px;
            color: #cbcbcb;
            font-size: 24px;
            background: #121212;
            font-weight: 600;
            text-align: center;
        }

            #recoger_busqueda svg {
                position: relative;
                top: 50%;
                left: 7px; 
                transform: translateY(-50%);
                z-index: 4;
            }

            #recoger_busqueda #barra_busqueda {
                border: none;
                position: relative;
                outline: none;
                background: transparent;
                left: 15px;
                font-size: 15px;
                color: #cbcbcb;
                z-index: 3;
            }

        #observable #texto_historial {
            color: white;
            padding: 30px 0 0 15px;
            font-size: 18px;
            font-weight: 600;
            z-index: 3;
        }

        #observable #informe_producto {
            position: relative;
            flex-direction: column;
            display: flex;
            width: 90%;
            left: 50%;
            transform: translateX(-50%);
            border-radius: 8px;
            gap: 5px;
            color: #cbcbcb;
            padding: 10px;
            margin: 20px 0 0 0;
            z-index: 2;
        }

            #informe_producto #titulos_informe {
                display: none;
                z-index: 4;
            }

            #informe_producto #informacion {
                display: flex;
                flex-direction: column;
                overflow: hidden;
                margin: 5px 0;
                padding: 10px;
                background: #121212;
                width: 100%;
                border-radius: 8px;
            }

                #informacion td {
                    margin: 5px 0;
                    display: flex;
                }

                #informacion p {
                    font-weight: 600;
                    padding-right: 10px;
                }

                #informacion #iconos {
                    left: 95%;
                    position: relative;
                    transform: translateX(-95%);
                }

        #observable #ventana {
            width: 100%;
            height: 100vh;
            position: fixed;
            top: 0;
            left: 0;
            background: rgba(0, 0, 0, 0.5);
            display: none;
            justify-content: center;
            align-items: center;
            z-index: 20;
        }

        #ventana #contenido_ventana {
            background: #121212;
            padding: 30px;
            border-radius: 8px;
        }

            #contenido_ventana p {
                color: white;
                font-size: 15px;
                margin-bottom: 30px;
            }

                #contenido_ventana #btns_horizontal {
                    width: 100%;
                    display: flex;
                    justify-content: end;
                }

                    #btns_horizontal #btn_cancelar {
                        border: none;
                        background: #202020;
                        color: white;
                        border-radius: 5px;
                        padding: 10px;
                        margin-right: 10px;
                    }

                    #btns_horizontal #btn_eliminar {
                        border: none;
                        background: #202020;
                        color: #FC4C38;
                        border-radius: 5px;
                        padding: 10px 35px;
                        margin-left: 20px;
                        font-weight: 600;
                    }

@media screen and (min-width: 650px) {

    #caja_padre #barra_menu {
        width: 40%;
    }   

        #cuenta_usuario #foto_perfil {
            width: 60px;
            height: 60px;
            margin-top: 10px;
        }

        #cuenta_usuario #texto_nombre {
                font-size: 16px;
            }

        #barra_menu #lista_menu {
            font-size: 18px;
        }

        #lista_menu h2 {
                font-size: 2.2em;
            }

        #barra_menu #marca_proyecto {
            font-size: 15px;
        }

        #observable h2 {
            padding: 30px 0 30px 15px;
            font-size: 1.2em;
        }

        #observable #menu_hamburguesa {
            top: -50px;
            width: 40px;
            height: 30px;
        }

            #menu_hamburguesa span {
                height: 5px;
            }

        #observable #agregar_producto {
            width: 40%;
            height: 60px;
            font-size: 18px;
            left: 50%;
        }

        #observable #recoger_busqueda {
            left: 20px;
            margin-top: 10px;
        }

            #recoger_busqueda #barra_busqueda {
                font-size: 16px;
            }

            #observable #texto_historial {
                padding: 30px 0 0 20px;
                font-size: 20px;
            }

            #observable #informe_producto {
            margin: 40px 0 0 0;
        }
}

@media screen and (min-width: 1024px) {

    #caja_padre {
        flex-direction: row;
    }

        #caja_padre #barra_menu {
            position: relative;
            width: 20%;
            left: 0;
        } 

    #barra_logo #logo {
            padding: 0 0 0 0;
        }

        #cuenta_usuario #foto_perfil {
            width: 50px;
            height: 50px;margin-top: 5px;
        }

        #cuenta_usuario #texto_nombre {
                font-size: 14px;
        }

        #barra_menu #lista_menu {
            font-size: 14px;
        }

            #lista_menu h2 {
                font-size: 2em;
            }

        #barra_menu #marca_proyecto {
            font-size: 12px;
        }

    #caja_padre #observable {
        width: 80%;
    }

        #observable h2 {
            padding: 20px 0 30px 15px;
            font-size: 1.2em;
        }

        #observable #menu_hamburguesa {
            display: none;
        }

        #observable #agregar_producto {
            width: 30%;
            left: 90%;
            transform: translateX(-90%);
            top: 0;
            height: 50px;
            font-size: 16px;
        }

        #observable #recoger_busqueda {
            margin-top: 50px;
            width: 50%;
            height: 50px;
        }

            #recoger_busqueda #barra_busqueda {
                font-size: 15px;
            }

        #observable #mensaje_no_encontrado {
            top: 0;
        }

        #observable #informe_producto {
            border-collapse: collapse;
            position: relative;
            flex-direction: inherit ;
            width: 95%;
            left: 50%;
            transform: translateX(-50%);
            background: none;
            border-radius: 0;
            gap: 0;
        }

            #informe_producto #titulos_informe {
                display: flex;
                width: 100%;
                margin-bottom: 20px;
                text-align: center;
            }

                #titulos_informe #ttl_id_producto {
                    width: 15%;
                }

                #titulos_informe #ttl_nombre_producto {
                    width: 25%;
                }

                #titulos_informe #ttl_tipo_producto {
                    width: 22%;
                }

                #titulos_informe #ttl_cantidad_producto {
                    width: 10%;
                }

                #titulos_informe #ttl_fecha_producto {
                    width: 17%;
                }

            #informe_producto #informacion {
                flex-direction: row;
                overflow: inherit;
                background: #121212;
                padding: 0;
                height: 50px;
                align-items: center;
                width: 100%;
                border-radius: 8px;
            }

                #informacion p {
                    display: none;
                }

                #informacion td {
                    justify-content: center;  
                    padding: 0 0;
                }

                #informacion #id_producto {
                    width: 15%;
                }

                #informacion #nombre_producto {
                    width: 25%;
                }

                #informacion #tipo_producto {
                    width: 22%;
                }

                #informacion #cantidad_producto {
                    width: 10%;
                }

                #informacion #fecha_producto {
                    width: 17%;
                }

                #informacion #iconos {
                    width: 11%;
                    left: 0;
                    transform: translateX(0);
                }

}