*{
    box-sizing: border-box;
    transition: 0.5s;
    top: 0;
    margin: 0;
    padding: 0;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14xp;
}

main {
    position: absolute;
    min-height: 100vh;
    display: flex;
    width: 100%;
    z-index: 1;
    background: #F8F9FA;
}

    #caja_azul {
        display: none;
    }

    #caja_blanca {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

        #caja_blanca #caja_login {
            width: 90%;
            position: relative;
            left: 50%;
            top: 50%;
            align-items: center;
            transform: translate(-50%, -50%);
        }

            #caja_login h1 {
                text-align: center;
                margin-bottom: 20px;
            }

            #caja_login label {
                display: block;
                color: black;
                margin: 30px 0 5px 0;
                font-weight: 600;
            }

            #caja_login input {
                display: flex;
                width: 100%;
                font-size: 15px;
                border-radius: 8px;
                height: 50px;
                border: solid 2px #E2E2E2;
                padding: 5px;
                background: transparent;
            }

            #caja_login #btn_iniciar {
                margin-top: 40px;
                border-radius: 8px;
                border: none;
                background: #4DA6FF;
                height: 50px;
                width: 80%;
                position: relative;
                left: 50%;
                transform: translateX(-50%);
                font-size: 15px;
                color: #F8F9FA;
            }

@media screen and (min-width: 650px) {

    #caja_blanca #caja_login {
        width: 50%;
        top: 60%;
    }

        #caja_login label {
            margin: 50px 0 5px 0;
        }
}

@media screen and (min-width: 1024px) {

    main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    }

        #caja_azul {
            display: flex;
            background: url(fondo_para_login.png);
            align-items: center;
        }

            #caja_azul #contenido {
                width: 60%;
                position: relative;
                color: #F8F9FA;
                left: 40%;
                transform: translateX(-40%);
            }

                #contenido #logo {
                    width: 250px;
                    height: 70px;
                    margin-bottom: 20px;
                }

                #contenido h2 {
                    font-size: 2rem;
                }

                #contenido p {
                    margin-top: 20px;
                    font-size: 16px;
                }

        #caja_blanca #caja_login {
            top: 50%;
        }

}