*{
    box-sizing: border-box;
    transition: 0.5s;
    top: 0;
    margin: 0;
    padding: 0;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    background: #F8F9FA;

}

#caja_padre {
    position: absolute;
    height: 100vh;
    min-height: 100vh;
    min-width: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    z-index: 1;
    flex-shrink: 0;
}

    #caja_padre #barra_menu {
        position: absolute;
        display: flex;
        flex-direction: column;
        width: 70%;
        height: 100vh;
        z-index: 6;
        background: #4FA3F7;
        left: -100%;
        border-right: solid 2px #CBCBCB;
    }   

        #caja_padre #barra_menu.open {
            left: 0;
        }

    #caja_padre #logo {
        width: 100%;
        height: 10%;
        display: flex;
        z-index: 7;
        padding: 5px;
    }

        #barra_menu #lista_menu {
            position: relative;
            width: 100%;
            height: 75%;
            list-style-type: none;
            color: #464646;
            font-size: 14px;
            flex-direction: column;
            display: flex;
            left: 50%;
            border-radius: 8px;
            transform: translateX(-50%);
            z-index: 7;
        }

            #lista_menu a {
                text-decoration: inherit;
                color: white;
                display: block;
                border-radius: 0 5px 5px 0;
                padding-bottom: 10px;
                margin: 8px 0;
            }

            #lista_menu li:hover {
                background: rgba(241, 241, 241, 0.3);
                border-left: solid 5px white;
            }

            #lista_menu a:hover {
                color: #202020; 
            }

            #lista_menu li {
                padding-right: 5px;
                padding-left: 10px;
            }

            #lista_menu h2 {
                font-size: 2em;
                padding: 15px 0 0 10px;
                z-index: 7;
                color: white;
            }

            #lista_menu svg {
                position: relative;
                top: 5px;
                margin-right: 10px;
                z-index: 8;
                fill: white;
            }

            #lista_menu #cierre_sesion {
                margin-top: 50px;
                margin-bottom: 10px;
                z-index: 7;
            }

        #barra_menu #marca_proyecto {
            width: 90%;
            left: 50%;
            position: relative;
            transform: translateX(-50%);
            height: 15%;
            padding: 10px 0 0 0;
            color: white;
            z-index: 7;
            border-top: solid 2px white;
        }

    #caja_padre #observable {
        width: 100%;
        flex-direction: column;
        display: flex;
    }

        #observable #encabezado {
            display: flex;
            height: 12%;
            width: 100%;
            justify-content: space-between;
            background: #E2E2E2;
        }

            #encabezado #titulo_pc {
                display: none;
            }

            #encabezado #icono_pc {
                display: none;
            }

            #encabezado #icono_android {
                margin: 5px;
            }

            #encabezado #nombre_persona {
                margin: 10px;
                font-size: 15px;
            }

            #encabezado #menu_hamburguesa {
                position: relative;
                width: 30px;
                height: 20px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                z-index: 3;
                margin: 10px 5px 0 0;
            }

            #menu_hamburguesa span {
                display: block;
                height: 3px;
                background: #202020 ;
                border-radius: 2px;
                transition: 0.3s;
                z-index: 3;
            }

            #menu_hamburguesa.active span:nth-child(1) {
                transform: rotate(45deg) translateY(9px);
            }

            #menu_hamburguesa.active span:nth-child(2) {
                opacity: 0;
            }

            #menu_hamburguesa.active span:nth-child(3) {
                transform: rotate(-45deg) translateY(-9px);
            }

        #observable #titulo {
            font-size: 22px;
            font-weight: 600;
            margin-left: 5px;
        }

        #observable #vistas_rapidas {
            margin: 10px 0 20px 0;
            display: flex;
            display: grid;
            width: 100%;
            grid-template-columns: 1fr 1fr;
        }

            #vistas_rapidas #info {
                display: flex;
                flex-direction: column;
                background: #E2E2E2;
                margin: 10px;
                border-radius: 8px;
                height: 60px;
            }

                #info div {
                    display: flex;
                    gap: 10px;
                    height: 100%;
                    width: 100%;
                    justify-content: center;
                    padding-top: 5px;
                }

            #vistas_rapidas #titulo_info {
                font-size: 15px;
                background: #7ED957;
                width: 100%;
                font-weight: 600;
                padding: 5px;
                text-align: center;
                border-radius: 8px 8px 0 0;
            }

        #observable #acciones_rapidas {
            justify-content: space-around;
            display: flex;
        }

            #acciones_rapidas button {
                font-size: 15px; 
                color: white;
                height: 45px;
                background: #4FA3F7;
                width: 45%;
                border: none;
                border-radius: 8px;
            }

        #observable h2 {
            margin: 20px 0 20px 5px;
        }

        #observable #historial {
            width: 95%;
            position: relative;
            left: 50%;
            transform: translateX(-50%);
            display: flex;
            border-radius: 8px 8px 0 0;
            flex-direction: column;
            background: #E2E2E2;
        }

            #historial #titulos {
                width: 100%;
                display: flex;
                text-align: center;
                margin-bottom: 10px;
                margin-top: 10px;
            }

                #titulos th:nth-child(1) {
                    width: 60%;
                    text-align: left;
                    margin-left: 8px;
                    font-weight: 500;
                }

                #titulos th:nth-child(2) {
                    width: 25%;
                    font-weight: 500;
                }

            #historial #informacion {
                width: 100%;
                display: flex;
                background: #F8F9FA;
                text-align: center;
                align-items: center;
                border: solid 1px #E2E2E2;
                padding: 5px;
            }

                #informacion td:nth-child(1) {
                    width: 60%;
                    margin-right: 5px;
                    overflow: hidden;
                    text-align: left;
                }

                #informacion td:nth-child(2) {
                    width: 25%;
                    margin-left: 10px;
                }

                #informacion td:nth-child(3) {
                    width: 15%;
                }

                #informacion td:nth-child(3):hover {
                    background: #a5a5a5;
                    border-radius: 8px;
                }

        #observable #ventana {
            width: 100%;
            height: 100vh;
            position: fixed;
            top: 0;
            left: 0;
            background: rgba(0, 0, 0, 0.5);
            display: none;
            justify-content: center;
            align-items: center;
            z-index: 20;
        }

        #ventana #contenido_ventana {
            background: #F8F9FA;
            padding: 30px;
            border-radius: 8px;
        }

            #contenido_ventana p {
                color: #202020;
                font-size: 15px;
                margin-bottom: 30px;
                font-weight: 600;
            }

                #contenido_ventana #btns_horizontal {
                    width: 100%;
                    display: flex;
                    justify-content: end;
                }

                    #btns_horizontal #btn_cancelar {
                        border: none;
                        background: #CBCBCB;
                        color: #202020;
                        border-radius: 5px;
                        padding: 10px;
                        margin-right: 10px;
                    }

                    #btns_horizontal #btn_eliminar {
                        border: none;
                        background: #CBCBCB;
                        color: #FC4C38;
                        border-radius: 5px;
                        padding: 10px 35px;
                        margin-left: 20px;
                        font-weight: 600;
                    }

@media screen and (min-width:650px) {

    #caja_padre #barra_menu {
        width: 40%;
    }  

        #lista_menu a {
                margin: 10px 0;
        }

            #vistas_rapidas #info {
                margin: 10px 30px;
            }
}

@media screen and (min-width: 1024px) {

    #caja_padre {
        flex-direction: row;
    }

    #caja_padre #barra_menu {
        position: relative;
        width: 20%;
        left: 0;
    } 

        #lista_menu a {
            margin: 5px 0;
        }

    #caja_padre #observable {
        width: 80%;
    }

    #observable #encabezado {
        height: 6%;
    }

        #encabezado #titulo_pc {
            display: flex;
            width: 40%;
            margin: 5px 0 0 10px;
            font-size: 22px;
            font-weight: 600;
        }

        #encabezado #icono_pc {
            display: flex;
            margin: 5px 5px 0 5px;
            width: 4%;
            justify-content: end;
        }

        #encabezado #icono_android {
            display: none;
        }

        #encabezado #menu_hamburguesa {
            display: none;
        }  
        
        #encabezado #nombre_persona {
            width: 56%;
            text-align: end;
        }

        #observable #titulo {
            display: none;
        }

        #observable #vistas_rapidas {
            margin: 10px 0 20px 0;
            display: flex;
            justify-content: space-around;
            grid-template-columns: none;
        }

            #vistas_rapidas #info {
                display: flex;
                width: 100%;
                height: 70px;
            }

                #info div {
                    padding: 10px 0;
                }

        #observable #acciones_rapidas {
            justify-content: inherit;
            display: flex;
        }

            #acciones_rapidas button {
                width: 20%;
                margin: 0 20px;
            }

        #observable h2 {
            margin: 30px 0 20px 20px;
        }

            #titulos th:nth-child(1) {
                width: 65%;
            }

            #titulos th:nth-child(2) {
                width: 30%;
            }

                #informacion td:nth-child(1) {
                    width: 65%;
                }

                #informacion td:nth-child(2) {
                    width: 30%;
                }

                #informacion td:nth-child(3) {
                    width: 5%;
                }

}