*{
    box-sizing: border-box;
    transition: 0.5s;
    top: 0;
    margin: 0;
    padding: 0;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    background: #F8F9FA;

}

#caja_padre {
    position: absolute;
    height: 100vh;
    min-height: 100vh;
    min-width: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    z-index: 1;
    flex-shrink: 0;
}

    #caja_padre #barra_menu {
        position: absolute;
        display: flex;
        flex-direction: column;
        width: 70%;
        height: 100vh;
        z-index: 6;
        background: #4DA6FF;
        left: -100%;
        border-right: solid 2px #CBCBCB;
    }   

        #caja_padre #barra_menu.open {
            left: 0;
        }

    #caja_padre #logo {
        width: 100%;
        height: 10%;
        display: flex;
        z-index: 7;
        padding: 5px;
    }

        #barra_menu #lista_menu {
            position: relative;
            width: 100%;
            height: 75%;
            list-style-type: none;
            color: #464646;
            font-size: 14px;
            flex-direction: column;
            display: flex;
            left: 50%;
            border-radius: 8px;
            transform: translateX(-50%);
            z-index: 7;
        }

            #lista_menu a {
                text-decoration: inherit;
                color: white;
                display: block;
                border-radius: 0 5px 5px 0;
                padding-bottom: 10px;
                margin: 6px 0;
            }

            #lista_menu li:hover {
                background: rgba(241, 241, 241, 0.3);
                border-left: solid 5px white;
            }

            #lista_menu a:hover {
                color: #202020; 
            }

            #lista_menu li {
                padding-right: 5px;
                padding-left: 10px;
            }

            #lista_menu h2 {
                font-size: 2em;
                padding: 15px 0 0 10px;
                z-index: 7;
                color: white;
            }

            #lista_menu svg {
                position: relative;
                top: 5px;
                margin-right: 10px;
                z-index: 8;
                fill: white;
            }

            #lista_menu #cierre_sesion {
                margin-top: 50px;
                margin-bottom: 10px;
                z-index: 7;
            }

        #barra_menu #marca_proyecto {
            width: 90%;
            left: 50%;
            position: relative;
            transform: translateX(-50%);
            height: 15%;
            padding: 10px 0 0 0;
            color: white;
            z-index: 7;
            border-top: solid 2px white;
        }

    #caja_padre #observable {
        width: 100%;
        flex-direction: column;
        display: flex;
    }

        #observable #encabezado {
            display: flex;
            height: 10%;
            width: 100%;
            justify-content: space-between;
            background: #E2E2E2;
        }

            #encabezado #titulo_pc {
                display: none;
            }

            #encabezado #icono_pc {
                display: none;
            }

            #encabezado #icono_android {
                margin: 5px;
            }

            #encabezado #nombre_persona {
                margin: 10px;
                font-size: 15px;
            }

            #encabezado #menu_hamburguesa {
                position: relative;
                width: 30px;
                height: 20px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                z-index: 3;
                margin: 10px 5px 0 0;
            }

            #menu_hamburguesa span {
                display: block;
                height: 3px;
                background: #202020 ;
                border-radius: 2px;
                transition: 0.3s;
                z-index: 3;
            }

            #menu_hamburguesa.active span:nth-child(1) {
                transform: rotate(45deg) translateY(9px);
            }

            #menu_hamburguesa.active span:nth-child(2) {
                opacity: 0;
            }

            #menu_hamburguesa.active span:nth-child(3) {
                transform: rotate(-45deg) translateY(-9px);
            }

        #observable #titulo {
            font-size: 22px;
            font-weight: 600;
            margin-left: 5px;
            margin-top: 20px;
        }

        #observable #recoger_busqueda {
            height: 40px;
            width: 95%;
            position: relative;
            left: 50%;
            transform: translateX(-50%);
            border-radius: 8px;
            display: flex;
            background: #E2E2E2;
            margin: 20px 0;
        }

            #recoger_busqueda svg {
                width: 10%;
                height: 100%;
                padding: 5px;
            }

            #recoger_busqueda #barra_busqueda {
                width: 90%;
                border: none;
                background: transparent;
                outline: none;
            }

        #observable #btn_crear_producto {
            width: 35%;
            height: 45px;
            margin: 10px 0 20px 10px;
            border: none;
            border-radius: 8px;
            font-size: 15px;
            color: white;
            background: #4DA6FF;
        }

        #observable #subtitulo {
            font-size: 18px;
            margin-left: 10px;
            font-weight: 600;
        }

        #observable #historial {
            position: relative;
            width: 95%;
            left: 50%;
            transform: translateX(-50%);
            margin-top: 10px;
            flex-direction: column;
        }

            #historial #titulos_historial {
                display: none;
            }

            #historial #informacion {
                display: flex;
                background: #E2E2E2;
                border-radius: 8px;
                padding: 5px;
                flex-direction: column;
                margin: 3px 0;
            }

                #informacion td {
                    margin: 5px 0;
                    display: flex;
                    color: #404040;
                    word-break: break-word;
                    font-weight: 600;
                }

                #informacion p {
                    font-size: 15px;
                    flex: 0 0 auto;
                    color: black;
                    margin-right: 10px;
                }

                #informacion td:nth-child(6) {
                    margin-top: 10px;
                    padding-top: 2px;
                    border-top: solid 2px #404040;
                    justify-content: space-around;
                }

                #informacion svg:hover {
                    background: #a5a5a5;
                    border-radius: 8px;
                }

        #observable #ventana {
            width: 100%;
            height: 100vh;
            position: fixed;
            top: 0;
            left: 0;
            background: rgba(0, 0, 0, 0.5);
            display: none;
            justify-content: center;
            align-items: center;
            z-index: 20;
        }

        #ventana #contenido_ventana {
            background: white;
            padding: 30px;
            border-radius: 8px;
        }

            #contenido_ventana p {
                color: black;
                font-size: 15px;
                font-weight: 600;
                margin-bottom: 30px;
            }

                #contenido_ventana #btns_horizontal {
                    width: 100%;
                    display: flex;
                    justify-content: end;
                }

                    #btns_horizontal #btn_cancelar {
                        border: none;
                        background: #E2E2E2;
                        color: black;
                        border-radius: 5px;
                        padding: 10px;
                        margin-right: 10px;
                    }

                    #btns_horizontal #btn_eliminar {
                        border: none;
                        background: #E2E2E2;
                        color: #FC4C38;
                        border-radius: 5px;
                        padding: 10px 35px;
                        margin-left: 20px;
                        font-weight: 600;
                    }

                #observable #ventana_editar {
                    width: 100%;
                    height: 100vh;
                    position: fixed;
                    top: 0;
                    left: 0;
                    background: rgba(0, 0, 0, 0.5);
                    display: none;
                    justify-content: center;
                    align-items: center;
                    z-index: 20;
                }

                #ventana_editar #contenido_ventana {
                    background: white;
                    padding: 30px;
                    border-radius: 8px;
                }

                    #contenido_ventana p {
                        color: black;
                        font-size: 15px;
                        font-weight: 600;
                        margin-bottom: 30px;
                    }

                        #contenido_ventana #btns_horizontal {
                            width: 100%;
                            display: flex;
                            justify-content: end;
                        }

                            #btns_horizontal #btn_cancelar_editar {
                                border: none;
                                background: #E2E2E2;
                                color: black;
                                border-radius: 5px;
                                padding: 10px;
                                margin-right: 10px;
                            }

                            #btns_horizontal #btn_editar {
                                border: none;
                                background: #E2E2E2;
                                color:#27BEF5;
                                border-radius: 5px;
                                padding: 10px 35px;
                                margin-left: 20px;
                                font-weight: 600;
                            }

@media screen and (min-width: 650px) {

    #caja_padre #barra_menu {
        width: 40%;
        
    } 

    #recoger_busqueda svg {
        width: 6%;
    }

    #recoger_busqueda #barra_busqueda {
        width: 94%;
    }
}

@media screen and (min-width: 1024px) {

    #caja_padre {
        flex-direction: row;
    }

    #caja_padre #barra_menu {
        position: relative;
        width: 20%;
        left: 0;
    } 

        #lista_menu a {
            margin: 5px 0;
        }

    #caja_padre #observable {
        width: 80%;
    }

    #observable #encabezado {
        height: 6%;
    }

        #encabezado #titulo_pc {
            display: flex;
            width: 40%;
            margin: 5px 0 0 10px;
            font-size: 22px;
            font-weight: 600;
        }

        #encabezado #icono_pc {
            display: flex;
            margin: 5px 5px 0 5px;
            width: 4%;
            justify-content: end;
        }

        #encabezado #icono_android {
            display: none;
        }

        #encabezado #menu_hamburguesa {
            display: none;
        }  
        
        #encabezado #nombre_persona {
            width: 56%;
            text-align: end;
        }

        #observable #titulo {
            display: none;
        }

        #observable #recoger_busqueda {
            height: 40px;
            width: 50%;
            left: 10px;
            transform: translateX(0);
            
        }

        #observable #btn_crear_producto {
            width: 30%;
        }

        #observable #historial {
            background: #E2E2E2;
            border-radius: 8px 8px 0 0;
        }

            #historial #titulos_historial {
                display: flex;
                padding: 10px 0;
            }

                #titulos_historial th:nth-child(1) {
                    width: 13%;
                    padding: 0 5px;
                    font-weight: 500;
                }

                #titulos_historial th:nth-child(2) {
                    width: 37%;
                    padding: 0 5px;
                    font-weight: 500;
                }

                #titulos_historial th:nth-child(3) {
                    width: 22%;
                    padding: 0 5px;
                    font-weight: 500;
                }

                #titulos_historial th:nth-child(4) {
                    width: 8%;
                    padding: 0 5px;
                    font-weight: 500;
                }

                #titulos_historial th:nth-child(5) {
                    width: 12%;
                    padding: 0 5px;
                    font-weight: 500;
                }

            #historial #informacion {
                flex-direction: row;
                background: #F8F9FA;
                border: solid 1px #E2E2E2;
                border-radius: 0;
                margin: 0;
            }

                #informacion p {
                    display: none;
                }

                #informacion td {
                    justify-content: center;
                }

                #informacion td:nth-child(1) {
                    width: 13%;
                    padding: 0 5px;
                }

                #informacion td:nth-child(2) {
                    width: 37%;
                    padding: 0 5px;
                }

                #informacion td:nth-child(3) {
                    width: 22%;
                    padding: 0 5px;
                }

                #informacion td:nth-child(4) {
                    width: 8%;
                    padding: 0 5px;
                }

                #informacion td:nth-child(5) {
                    width: 12%;
                    padding: 0 5px;
                }

                #informacion td:nth-child(6) {
                    width: 8%;
                    margin-top: 0;
                    padding-top: 0;
                    border-top: none;
                    justify-content: space-around;
                }


}