*{
    box-sizing: border-box;
    transition: 0.5s;
    top: 0;
    margin: 0;
    padding: 0;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    background: #F8F9FA;

}

#caja_padre {
    position: absolute;
    height: 100vh;
    min-height: 100vh;
    min-width: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    z-index: 1;
    flex-shrink: 0;
}

    #caja_padre #barra_menu {
        position: absolute;
        display: flex;
        flex-direction: column;
        width: 70%;
        height: 100vh;
        z-index: 6;
        background: #4FA3F7;
        left: -100%;
        border-right: solid 2px #CBCBCB;
    }   

        #caja_padre #barra_menu.open {
            left: 0;
        }

    #caja_padre #logo {
        width: 100%;
        height: 10%;
        display: flex;
        z-index: 7;
        padding: 5px;
    }

        #barra_menu #lista_menu {
            position: relative;
            width: 100%;
            height: 75%;
            list-style-type: none;
            color: #464646;
            font-size: 14px;
            flex-direction: column;
            display: flex;
            left: 50%;
            border-radius: 8px;
            transform: translateX(-50%);
            z-index: 7;
        }

            #lista_menu a {
                text-decoration: inherit;
                color: white;
                display: block;
                border-radius: 0 5px 5px 0;
                padding-bottom: 10px;
                margin: 6px 0;
            }

            #lista_menu li:hover {
                background: rgba(241, 241, 241, 0.3);
                border-left: solid 5px white;
            }

            #lista_menu a:hover {
                color: #202020; 
            }

            #lista_menu li {
                padding-right: 5px;
                padding-left: 10px;
            }

            #lista_menu h2 {
                font-size: 2em;
                padding: 15px 0 0 10px;
                z-index: 7;
                color: white;
            }

            #lista_menu svg {
                position: relative;
                top: 5px;
                margin-right: 10px;
                z-index: 8;
                fill: white;
            }

            #lista_menu #cierre_sesion {
                margin-top: 50px;
                margin-bottom: 10px;
                z-index: 7;
            }

        #barra_menu #marca_proyecto {
            width: 90%;
            left: 50%;
            position: relative;
            transform: translateX(-50%);
            height: 15%;
            padding: 10px 0 0 0;
            color: white;
            z-index: 7;
            border-top: solid 2px white;
        }

    #caja_padre #observable {
        width: 100%;
        flex-direction: column;
        display: flex;
    }

        #observable #encabezado {
            display: flex;
            height: 12%;
            width: 100%;
            justify-content: space-between;
            background: #E2E2E2;
        }

            #encabezado #titulo_pc {
                display: none;
            }

            #encabezado #icono_pc {
                display: none;
            }

            #encabezado #icono_android {
                margin: 5px;
            }

            #encabezado #nombre_persona {
                margin: 10px;
                font-size: 15px;
            }

            #encabezado #menu_hamburguesa {
                position: relative;
                width: 30px;
                height: 20px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                z-index: 3;
                margin: 10px 5px 0 0;
            }

            #menu_hamburguesa span {
                display: block;
                height: 3px;
                background: #202020 ;
                border-radius: 2px;
                transition: 0.3s;
                z-index: 3;
            }

            #menu_hamburguesa.active span:nth-child(1) {
                transform: rotate(45deg) translateY(9px);
            }

            #menu_hamburguesa.active span:nth-child(2) {
                opacity: 0;
            }

            #menu_hamburguesa.active span:nth-child(3) {
                transform: rotate(-45deg) translateY(-9px);
            }

        #observable #titulo {
            font-size: 22px;
            font-weight: 600;
            margin-left: 5px;
            margin-top: 10px;
            margin-bottom: 20px;
        }

        #observable #historial {
            width: 90%;
            flex-direction: column;
            display: flex;
            position: relative;
            border-radius: 8px;
            background: white;
            border: solid 2px #E2E2E2;
            left: 50%;
            margin: 3px 0;
            transform: translateX(-50%);
        }

            #historial #titulo_horizontal {
                display: flex;
                width: 100%;
            }

                #titulo_horizontal th:nth-child(1) {
                    width: 100%;
                    text-align: left;
                    font-weight: 500;
                    font-size: 16px;
                    padding: 10px;
                }

                #titulo_horizontal svg:hover {
                    background: #CBCBCB;
                    border-radius: 8px;
                }

            #historial #informacion {
                flex-direction: column;
                display: flex;
                width: 90%;
                position: relative;
                left: 50%;
                font-size: 15px;
                transform: translateX(-50%);
            }

                #informacion td {
                    display: flex;
                    padding: 10px 0;
                    border-top: solid 1px #E2E2E2;
                }

                #informacion p {
                    margin-right: 10px;
                    font-weight: 500;
                }

@media screen and (min-width: 650px) {

    #caja_padre #barra_menu {
        width: 40%;
    }

        #observable #historial {
            width: 95%;
        }

            #historial #informacion {
                width: 95%;
            }
}

@media screen and (min-width:1024px) {

    #caja_padre {
        flex-direction: row;
    }

    #caja_padre #barra_menu {
        position: relative;
        width: 20%;
        left: 0;
    } 

        #lista_menu a {
            margin: 5px 0;
        }

    #caja_padre #observable {
        width: 80%;
    }

    #observable #encabezado {
        height: 6%;
        margin-bottom: 30px;
    }

        #encabezado #titulo_pc {
            display: flex;
            width: 40%;
            margin: 5px 0 0 10px;
            font-size: 22px;
            font-weight: 600;
            
        }

        #encabezado #icono_pc {
            display: flex;
            margin: 5px 5px 0 5px;
            width: 4%;
            justify-content: end;
        }

        #encabezado #icono_android {
            display: none;
        }

        #encabezado #menu_hamburguesa {
            display: none;
        }  
        
        #encabezado #nombre_persona {
            width: 56%;
            text-align: end;
        }

        #observable #titulo {
            display: none;
        }
}