*{
    box-sizing: border-box;
    transition: 0.5s;
    top: 0;
    margin: 0;
    padding: 0;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14xp;
}

main {
    position: absolute;
    min-height: 100vh;
    display: flex;
    width: 100%;
    z-index: 1;
    background: #F8F9FA;
}

    #caja_padre #caja_contenedora {
        width: 90%;
        position: absolute;
        align-items: center;
        flex-direction: column;
        top: 50%;
        left: 50%;
        padding: 10px;
        border: solid 2px #CBCBCB;
        border-radius: 10px;
        background: #F1F1F1;
        transform: translate(-50%, -50%);
    }

        #caja_contenedora h1 {
            margin-bottom: 20px;
            text-align: center;
        }

        #caja_contenedora #formulario {
            flex-direction: column;
            display: flex;
            align-items: center;
        }

            #formulario #contenido {
                display: grid;
                grid-template-columns: 1fr 1fr;
                width: 100%;
                gap: 10px;
            }

                #contenido label {
                    font-size: 14px;
                    font-weight: 600;
                    display: flex;
                    margin: 20px 0 5px 0;
                }

                #contenido input {
                    height: 35px;
                    width: 100%;
                    border: solid 2px #E2E2E2;
                    border-radius: 8px;
                    padding: 5px;
                    color: black;
                    font-size: 15px;
                }

                #contenido select {
                    height: 35px;
                    width: 100%;
                    border: solid 2px #E2E2E2;
                    border-radius: 8px;
                    padding: 5px;
                    font-size: 15px;
                }

            #formulario #btn_registrar_proveedor {
                margin-top: 40px;
                height: 50px;
                width: 80%;
                background: #4DA6FF;
                border: none;
                border-radius: 8px;
                font-size: 15px;
                color: white;
            }

@media screen and (min-width: 650px) {

    #caja_padre #caja_contenedora {
        width: 60%;
        top: 60%;
        padding: 20px;
    }
}

@media screen and (min-width: 1024px) {

    #caja_padre #caja_contenedora {
        width: 35%;
        top: 50%;
    }
}