*{
    box-sizing: border-box;
    transition: 0.5s;
    top: 0;
    margin: 0;
    padding: 0;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    background: #F8F9FA;

}

#caja_padre {
    position: absolute;
    height: 100vh;
    min-height: 100vh;
    min-width: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    z-index: 1;
    flex-shrink: 0;
}

    #caja_padre #barra_menu {
        position: absolute;
        display: flex;
        flex-direction: column;
        width: 70%;
        height: 100vh;
        z-index: 6;
        background: #4FA3F7;
        left: -100%;
        border-right: solid 2px #CBCBCB;
    }   

        #caja_padre #barra_menu.open {
            left: 0;
        }

    #caja_padre #logo {
        width: 100%;
        height: 10%;
        display: flex;
        z-index: 7;
        padding: 5px;
    }

        #barra_menu #lista_menu {
            position: relative;
            width: 100%;
            height: 75%;
            list-style-type: none;
            color: #464646;
            font-size: 14px;
            flex-direction: column;
            display: flex;
            left: 50%;
            border-radius: 8px;
            transform: translateX(-50%);
            z-index: 7;
        }

            #lista_menu a {
                text-decoration: inherit;
                color: white;
                display: block;
                border-radius: 0 5px 5px 0;
                padding-bottom: 10px;
                margin: 6px 0;
            }

            #lista_menu li:hover {
                background: rgba(241, 241, 241, 0.3);
                border-left: solid 5px white;
            }

            #lista_menu a:hover {
                color: #202020; 
            }

            #lista_menu li {
                padding-right: 5px;
                padding-left: 10px;
            }

            #lista_menu h2 {
                font-size: 2em;
                padding: 15px 0 0 10px;
                z-index: 7;
                color: white;
            }

            #lista_menu svg {
                position: relative;
                top: 5px;
                margin-right: 10px;
                z-index: 8;
                fill: white;
            }

            #lista_menu #cierre_sesion {
                margin-top: 50px;
                margin-bottom: 10px;
                z-index: 7;
            }

        #barra_menu #marca_proyecto {
            width: 90%;
            left: 50%;
            position: relative;
            transform: translateX(-50%);
            height: 15%;
            padding: 10px 0 0 0;
            color: white;
            z-index: 7;
            border-top: solid 2px white;
        }

    #caja_padre #observable {
        width: 100%;
        flex-direction: column;
        display: flex;
    }

        #observable #encabezado {
            display: flex;
            height: 12%;
            width: 100%;
            justify-content: space-between;
            background: #E2E2E2;
        }

            #encabezado #titulo_pc {
                display: none;
            }

            #encabezado #icono_pc {
                display: none;
            }

            #encabezado #icono_android {
                margin: 5px;
            }

            #encabezado #nombre_persona {
                margin: 10px;
                font-size: 15px;
            }

            #encabezado #menu_hamburguesa {
                position: relative;
                width: 30px;
                height: 20px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                z-index: 3;
                margin: 10px 5px 0 0;
            }

            #menu_hamburguesa span {
                display: block;
                height: 3px;
                background: #202020 ;
                border-radius: 2px;
                transition: 0.3s;
                z-index: 3;
            }

            #menu_hamburguesa.active span:nth-child(1) {
                transform: rotate(45deg) translateY(9px);
            }

            #menu_hamburguesa.active span:nth-child(2) {
                opacity: 0;
            }

            #menu_hamburguesa.active span:nth-child(3) {
                transform: rotate(-45deg) translateY(-9px);
            }

        #observable #titulo {
            font-size: 22px;
            font-weight: 600;
            margin-left: 5px;
            margin-top: 10px;
        }

        #observable #subtitulo_pc {
            display: none;
        }

        #observable #parrafo_pc {
            display: none;
        }

        #observable #contenedor {
            background: white;
            border: solid 2px #E2E2E2 ;
            position: relative;
            width: 90%;
            left: 50%;
            margin: 20px 0 0 0;
            transform: translateX(-50%);
            border-radius: 8px;
            padding: 10px;
            flex-direction: column;
            display: flex;
        }

            #contenedor #subtitulo {
                font-weight: 600;
                font-size: 19px;
            }

            #contenedor #parrafo {
                margin: 10px 0 10px 0;
            }

            #contenedor #fila {
                flex-direction: column;
                display: flex;
            }

            #contenedor #label_1 {
                font-size: 15px;
                margin: 10px 0 5px 0;
                color: black;
            }

            #contenedor #tipo_queja {
                height: 40px;
                border-radius: 8px;
                border: solid 2px #E2E2E2;
                outline: none;
            }

            #contenedor #label_2 {
                margin: 20px 0 5px 0;
                color: black;
            }

            #contenedor #mensaje_reporte {
                border-radius: 8px;
                height: 80px;
                border: solid 2px #E2E2E2;
                padding: 5px;
                outline: none;
            }

            #contenedor #btn_enviar_reporte {
                margin: 20px 0 10px 0;
                height: 40px;
                font-size: 15px;
                color: white;
                border-radius: 8px;
                background: #4FA3F7;
                border: none;
            }

@media screen and (min-width: 650px) {

    #caja_padre #barra_menu {
        width: 40%;
    }   

        #observable #contenedor {
            width: 95%;
        }

            #contenedor #btn_enviar_reporte {
                width: 50%;
                position: relative;
                left: 50%;
                transform: translateX(-50%);
            }
}

@media screen and (min-width: 1024px) {

    #caja_padre {
        flex-direction: row;
    }

    #caja_padre #barra_menu {
        position: relative;
        width: 20%;
        left: 0;
    } 

        #lista_menu a {
            margin: 5px 0;
        }

    #caja_padre #observable {
        width: 80%;
    }

    #observable #encabezado {
        height: 6%;
    }

        #encabezado #titulo_pc {
            display: flex;
            width: 40%;
            margin: 5px 0 0 10px;
            font-size: 22px;
            font-weight: 600;
        }

        #encabezado #icono_pc {
            display: flex;
            margin: 5px 5px 0 5px;
            width: 4%;
            justify-content: end;
        }

        #encabezado #icono_android {
            display: none;
        }

        #encabezado #menu_hamburguesa {
            display: none;
        }  
        
        #encabezado #nombre_persona {
            width: 56%;
            text-align: end;
        }

        #observable #titulo {
            display: none;
        }

        #observable #subtitulo_pc {
            display: flex;
            font-size: 22px;
            font-weight: 600;
            margin: 15px 0 10px 15px;
        }

        #observable #parrafo_pc {
            display: flex;
            font-size: 15px;
            margin: 10px 0 10px 15px;
        }

            #contenedor #subtitulo {
                display: none;
            }

            #contenedor #parrafo {
                display: none;
            }

            #contenedor #fila {
                flex-direction: row;
                display: flex;
                margin: 10px 0;
            }

                #fila label {
                    width: 15%;
                    height: 100%;
                }

                #fila #tipo_queja {
                    width: 100%;
                }

                #fila #mensaje_reporte {
                    width: 100%;
                }

}