<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear producto</title>

    <link rel="stylesheet" href="static/agregar_producto.css">
</head>
<body>

    <main id="caja_padre">
            <a href="/interfaz_principal_g" id="btn_atras">    
                <svg width="40" height="40" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg"
                    transform="rotate(0 0 0)" id="ic_atras">
                    <path
                    d="M3.57813 12.4981C3.5777 12.6905 3.65086 12.8831 3.79761 13.0299L9.7936 19.0301C10.0864 19.3231 10.5613 19.3233 10.8543 19.0305C11.1473 18.7377 11.1474 18.2629 10.8546 17.9699L6.13418 13.2461L20.3295 13.2461C20.7437 13.2461 21.0795 12.9103 21.0795 12.4961C21.0795 12.0819 20.7437 11.7461 20.3295 11.7461L6.14168 11.7461L10.8546 7.03016C11.1474 6.73718 11.1473 6.2623 10.8543 5.9695C10.5613 5.6767 10.0864 5.67685 9.79362 5.96984L3.84392 11.9233C3.68134 12.0609 3.57812 12.2664 3.57812 12.4961L3.57813 12.4981Z"
                    fill="#cbcbcb" />
                </svg>
            </a>

        <div id="caja_contenedora">

            <h1>Agregar producto</h1>

            <p id="texto_crear_categoria">¿Ya has creado una categoria?</p>

            <button type="submit" id="btn_ir_crear_categoria">Crear categoria</button>

            <div id="codigo_barras">

                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640" id="ic_codigo_barras">
                    <path d="M128 96C110.3 96 96 110.3 96 128L96 512C96 529.7 110.3 544 128 544C145.7 544 160 529.7 160 512L160 128C160 110.3 145.7 96 128 96zM216 96C202.7 96 192 106.7 192 120L192 520C192 533.3 202.7 544 216 544C229.3 544 240 533.3 240 520L240 120C240 106.7 229.3 96 216 96zM288 128L288 512C288 529.7 302.3 544 320 544C337.7 544 352 529.7 352 512L352 128C352 110.3 337.7 96 320 96C302.3 96 288 110.3 288 128zM496 120L496 520C496 533.3 506.7 544 520 544C533.3 544 544 533.3 544 520L544 120C544 106.7 533.3 96 520 96C506.7 96 496 106.7 496 120zM400 120L400 520C400 533.3 410.7 544 424 544C437.3 544 448 533.3 448 520L448 120C448 106.7 437.3 96 424 96C410.7 96 400 106.7 400 120z" fill="#CF9500"/></svg>

                <p>Escanear codigo</p>
            </div>

            <form action="/agrega_producto" id="crear_producto" method="post">

                <div id="columna">

                    <div id="caja_id_producto">

                        <label for=""> Id</label>

                        <input type="text" name="id_crear_producto" id="id_crear_producto" tabindex="0" required>

                    </div>

                    <div id="caja_tipo_producto">

                        <label for="">Tipo</label>

                        <input type="text" name="categoria_crear_producto" id="categoria_crear_producto" tabindex="2" required>

                    </div>

                </div>

                <div id="columna">

                    <div id="caja_nombre_producto">

                        <label for="">Nombre</label>

                        <input type="text" name="nombre_crear_producto" id="nombre_crear_producto" tabindex="1" required>

                    </div>

                    <div id="caja_cantidad_producto">

                        <label for="">Cantidad</label>

                        <input type="number" name="cantidad_crear_producto" id="cantidad_crear_producto" tabindex="3" required>

                    </div>
                </div>

                <button type="submit" id="btn_crear_producto">Agregar producto</button>

            </form>

        </div>

    </main>
</body>
</html>