<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar categoria</title>

    <link rel="stylesheet" href="agregar_categoria.css">
</head>
<body>

    <main id="caja_padre">

        <h1>Agregrar categoria</h1>

        <form id="caja_contenedora">

            <label>Nombre</label>

            <input type="text" id="agregar_categoria" name="agregar_categoria" placeholder="Ej: Cerveza" minlength="1" maxlength="256" required>

            <button id="btn_agregar_categoria" name="btn_agregar_categoria" type="submit">Crear</button>

        </form>

    </main>

</body>
</html>