<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar categoria</title>

    <link rel="stylesheet" href="editar_categoria.css">
</head>
<body>

    <main id="caja_padre">

        <h1>Editar categoria</h1>

        <div id="caja_contenedora">

            <label>Nombre</label>

            <input type="text" id="editar_categoria" name="editar_categoria" placeholder="Ej: Cerveza" minlength="1" maxlength="256" required>

            <button id="btn_editar_categoria" name="btn_editar_categoria" type="submit">Editar</button>

        </div>

    </main>

</body>
</html>