<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Interfaz</title>

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

    <link rel="stylesheet" href="elemento/interfaz_principal.css">
</head>
<body>
    <main id="caja_padre">

        <section id="barra_menu">

            <img src="logo_de_cavas.png" id="logo">

            <div id="cuenta_usuario">

                <img id="foto_perfil" src="usuario_prueba.jpg" alt="">

                <p id="texto_nombre">mi nombre</p>

                <p id="texto_correo">micorreo@gmail.com</p>

            </div>

            <menu id="menu"></menu>

            <button id="btn_cerrar_sesion" type="submit">Cerrar sesión</button>

            <a href="" id="marca_proyecto"></a>

        </section>

        <section id="caja_encabezado_producto">

            <section id="barra_encabezado">

                    <p id="saludo_usuario">Hola, </p>

                <button id="configuracion"><ion-icon name="cog"></ion-icon></button>

            </section>

            <section id="principal_productos">

                <div id="1ra_barra_horizontal">

                    <input id="barra_busqueda" type="text" placeholder="¿Que deseas buscar?">

                    <button id="verificar">Verificar</button>

                    <button id="agregar_producto">Agregar producto<ion-icon name="add-outline"></ion-icon></button>

                </div>

                <select id="categoria_productos"></select>

                <section id="informe_productos">
                    
                    <p id="id_producto"></p>
                    <p id="nombre_producto"></p>
                    <p id="tipo_producto"></p>
                    <p id="cantidad_producto"></p>
                    <p id="fecha_producto"></p>

                    <button id="editar_producto"></button>

                    <button id="eliminar_producto"></button>
                </section>

            </section>

        </section>

    </main>
</body>
</html>