<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <link rel="stylesheet" href="login.css">
</head>
<body>

    <main id="caja_padre">

        <section id="caja_azul">

            <div id="contenido">

                <img id="logo" src="imagen_de_logo.png" alt="">

                <h2>Inventario de cavas</h2>

                <p>Este espacio esta diseñado para facilitar tu labor, disfruta cada momento y trabaja con tranquilidad.</p>

            </div>

        </section>

        <section id="caja_blanca">

            <div id="caja_login">

                <h1>Bienvenido</h1>

                <form action="" method="post">

                    <label for="">Correo electrónico</label>

                    <input type="email" id="correo_empleado" name="correo_empleado" maxlength="64" minlength="3" placeholder="micorreo123@gmail.com" pattern="[A-Za-z0-9@.]{3,64}" title="Digita un correo valido">

                    <label for="">Contraseña</label>

                    <input type="password" id="contraseña_empleado" name="contraseña_empleado" maxlength="21" minlength="8" placeholder="••••••••" pattern="[A-Za-z0-9.#%*+@]{8,21}" title="Digita una contraseña más segura">

                    <button type="submit" id="btn_iniciar" name="btn_iniciar">Iniciar sesión</button>

                </form>

            </div>

        </section>

    </main>

</body>
</html>