<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Historial de Productos</title>
    
</head>
<body>
    <form action="/mostrar" method="post">   
        <h1 style="text-align:center;">Historial de Productos</h1>

        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Categoría</th>
                    <th>Cantidad</th>
                    <th>Fecha de ingreso</th>
                </tr>
            </thead>
            <tbody>
                {% for producto in productos %}
                <tr>
                    <td>{{ producto[0] }}</td>
                    <td>{{ producto[1] }}</td>
                    <td>{{ producto[2] }}</td>
                    <td>{{ producto[3] }}</td>
                    <td>{{ producto[4] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </form>
</body>
</html>
