<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro usuario</title>

    <link rel="stylesheet" href="static/registro_usuario.css">
</head>

<body>
    <main id="caja_padre">

        <div id="caja_contenedora">

            <h1>Registro</h1>

            <form action="registro_usuarios" method="post">

                <div class="columna">

                    <div id="caja"><!-- nombre_completo -->

                        <label for="">Nombre completo</label>

                        <div id="caja2">

                            <input type="text" name="nombre_usuario" id="nombre_usuario" placeholder="Nombre(s) y apellido(s)" minlength="1" maxlength="128" tabindex="2"  title="Por favor ingresa tu nombre" required>

                        </div>

                    </div>

                    <div id="caja"><!-- tipo de idetificacion -->

                        <label for="">Tipo de identificacion</label>

                        <div id="caja2">

                            <select name="id_tipo_usuario" id="id_tipo_usuario" tabindex="3" required>

                                <option value="documento_1">Cedula de ciudadania</option>
                                <option value="documento_2">Tarjeta de identidad</option>
                                <option value="documento_3">Pasaporte</option>
                                <option value="documento_4">Cedula de extranjeria</option>
                                <option value="documento_5">Registro civil</option>

                            </select>

                        </div>

                    </div>

                    <div id="caja"><!-- numero de telefono -->

                        <label for="">Numero de telefono</label>

                        <div id="caja2">

                            <input type="tel" name="tel_usuario" id="tel_usuario" placeholder="3211234567" maxlength="10" minlength="10"  title="Digita un numero de telefono valido" tabindex="6" required>

                        </div>

                    </div>

                    <div id="caja"><!-- contraseña usuario -->

                        <label for="">Contraseña</label>

                        <div id="caja2">

                            <input type="password" name="contraseña_usuario" id="contraseña_usuario" minlength="8" maxlength="21" tabindex="8"  required>

                        </div>

                    </div>

                </div>

                <div class="columna">

                    <div id="caja"><!-- fecha de nacimiento -->

                        <label for="">Fecha de nacimiento</label>

                        <div id="caja2">

                            <input type="date" name="fecha_usuario" id="fecha_usuario" tabindex="5" required>

                        </div>

                    </div>

                    <div id="caja"><!-- numero de identifiacion -->

                        <label for="">No. de identificacion</label>

                        <div id="caja2">

                            <input type="tel" name="id_usuario" id="id_usuario" tabindex="4" maxlength="10" minlength="6"  title="Agrega un numero de documento valido" required>

                        </div>

                    </div>

                    <div id="caja"><!-- correo electronico -->

                        <label for="">Email</label>

                        <div id="caja2">

                            <input type="email" inputmode="email" name="email_usuario" placeholder="correoejemplo@gmail.com" id="email_usuario" minlength="3" maxlength="64" tabindex="7"  title="Parece que esto no es un email" required>

                        </div>

                    </div>

                    <div id="caja"><!-- confirmar contraseña -->

                        <label for="">Confirmar contraseña</label>

                        <div id="caja2">

                            <input type="password" name="confirmar_contraseña_usuario" minlength="8" maxlength="21" tabindex="9"  required>

                        </div>

                    </div>

                </div>

                <button type="submit" id="btn_registrar_usuario" name="btn_registrar_usuario" tabindex="10">Registrar</button>

                <h1 style="color: red;"> {{msg}} </h1>

            </form>
        </div>
    </main>
</body>

</html>